data.csv为用户用电数据，数据中有编号为1-200的200位用户，DATA_DATE表示时间，如2015/1/1表示2015年1月1日，KWH表示用电量(数据集参考随书源代码).

- (1)将数据进行转置，转置后型如eg.csv，缺失值用NAN代替.
- (2)对数据中的异常值进行识别并用NA代替。
- (3)计算每个用户用电数据的基本统计量，包括最大值、最小值、均值、中位数、和、方差、偏度、峰值。(不包括空值)
- (4)每个用户用电数据按日差分，并计算差分结果的基本统计量，统计量同上述第3问.
- (5)计算每个用户用电数据的5%分位数.
- (6)对每个用户的用电数据按周求和并差分(一周7天)，计算差分结果的基本统计量，统计量同第3问.
- (7)每个用户在一段时间内会有用电数据最大值，统计用电数据大于“0.9×最大值”的天数
- (8)获取每个用户用电数据出现最大值和最小值的月份，若最大值(最小值)存在于多个月份中，则输出含有最大值(最小值)最多的那个月份。我们按天统计每个用户的用电数据，假设1号用户用电量的最小值为0(可能是当天外出没有用电)，在一年的12个月，每个月都可能有若干天用电量为0，那儿就输出含有最多用电量为0的天数的所在月份。最大用电量的统计同理。
- (9)以每个用户7月和8月用电数据为同一批统计样本，3月和4月用电数据为另一批统计样本，分别计算这两批样本之间的总体和(sum)之比、均值(mean)之比、最大值(max)之比和最小值(min)之比.
- (10)将上述统计的所有特征合并在一张表中显示出来.

In [11]:
import pandas as pd
import numpy as np

In [17]:
# (1)将数据进行转置，转置后型如eg.csv，缺失值用NAN代替.
## parse_dates为解析日期，index_col为列表表示按照0列进行索引，不满足按照1列进行索引
df = pd.read_csv('./data/data.csv', parse_dates=True, index_col=[0, 1])
df

                     KWH
CONS_NO DATA_DATE
1       2015-01-01  6.68
        2015-01-02  2.50
        2015-01-03  5.20
        2015-01-04  4.17
        2015-01-05  4.89
...                  ...
200     2017-02-03  0.00
        2017-02-04  0.00
        2017-02-05  0.00
        2017-02-06  0.00
        2017-02-07  0.00

[149185 rows x 1 columns]

In [18]:
df = df.unstack().KWH # 行列转换
df

DATA_DATE,2015-01-01,2015-01-02,2015-01-03,2015-01-04,2015-01-05,2015-01-06,2015-01-07,2015-01-08,2015-01-09,2015-01-10,...,2017-01-29,2017-01-30,2017-01-31,2017-02-01,2017-02-02,2017-02-03,2017-02-04,2017-02-05,2017-02-06,2017-02-07
CONS_NO,,,,,,,,,,,,,,,,,,,,,
1,6.68,2.50,5.20,4.17,4.89,5.26,4.11,3.70,3.74,5.83,...,2.37,3.12,2.02,1.74,2.53,3.18,3.29,2.77,3.81,3.62
2,1.22,0.65,1.14,1.04,1.33,1.02,0.08,0.09,0.09,0.09,...,0.97,0.95,0.93,0.92,0.92,1.99,0.96,1.36,1.33,1.40
3,7.35,6.65,7.76,4.02,4.68,7.06,6.51,7.00,6.53,4.94,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,0.62,1.92,0.65,1.30,0.71,1.36,0.89,1.24,0.75,1.67,...,1.14,1.06,0.96,1.12,0.86,0.76,0.75,1.49,0.86,1.08
5,2.58,2.60,2.36,1.83,2.05,1.97,1.98,1.44,2.02,2.33,...,2.11,2.58,2.22,1.96,1.71,2.23,2.69,2.27,2.52,2.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,1.87,1.29,1.21,1.52,1.52,1.24,1.27,1.87,1.51,1.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
197,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,3.71,0.89,1.84,2.50,2.18,1.32,1.15,1.08,2.26,2.26
198,4.59,4.86,4.49,7.27,6.55,5.02,5.40,4.51,5.05,5.36,...,1.30,1.27,1.25,1.26,1.23,1.22,1.25,1.28,1.25,1.22
199,4.88,3.57,4.72,3.63,3.38,5.10,4.40,3.85,2.51,3.55,...,0.77,0.77,0.77,0.76,0.76,0.76,0.75,0.76,0.75,0.76
200,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [20]:
df.fillna(np.nan, inplace=True)
df

DATA_DATE,2015-01-01,2015-01-02,2015-01-03,2015-01-04,2015-01-05,2015-01-06,2015-01-07,2015-01-08,2015-01-09,2015-01-10,...,2017-01-29,2017-01-30,2017-01-31,2017-02-01,2017-02-02,2017-02-03,2017-02-04,2017-02-05,2017-02-06,2017-02-07
CONS_NO,,,,,,,,,,,,,,,,,,,,,
1,6.68,2.50,5.20,4.17,4.89,5.26,4.11,3.70,3.74,5.83,...,2.37,3.12,2.02,1.74,2.53,3.18,3.29,2.77,3.81,3.62
2,1.22,0.65,1.14,1.04,1.33,1.02,0.08,0.09,0.09,0.09,...,0.97,0.95,0.93,0.92,0.92,1.99,0.96,1.36,1.33,1.40
3,7.35,6.65,7.76,4.02,4.68,7.06,6.51,7.00,6.53,4.94,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,0.62,1.92,0.65,1.30,0.71,1.36,0.89,1.24,0.75,1.67,...,1.14,1.06,0.96,1.12,0.86,0.76,0.75,1.49,0.86,1.08
5,2.58,2.60,2.36,1.83,2.05,1.97,1.98,1.44,2.02,2.33,...,2.11,2.58,2.22,1.96,1.71,2.23,2.69,2.27,2.52,2.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,1.87,1.29,1.21,1.52,1.52,1.24,1.27,1.87,1.51,1.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
197,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,3.71,0.89,1.84,2.50,2.18,1.32,1.15,1.08,2.26,2.26
198,4.59,4.86,4.49,7.27,6.55,5.02,5.40,4.51,5.05,5.36,...,1.30,1.27,1.25,1.26,1.23,1.22,1.25,1.28,1.25,1.22
199,4.88,3.57,4.72,3.63,3.38,5.10,4.40,3.85,2.51,3.55,...,0.77,0.77,0.77,0.76,0.76,0.76,0.75,0.76,0.75,0.76
200,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [21]:
# (2)对数据中的异常值进行识别并用NA代替。
## 识别异常值
for col in range(df.shape[1]):
  # 当前值与均值的差值绝对值大于三倍标准差视为异常值
  df.iloc[:, col][(df.iloc[:, col]-df.mean(axis=1)).abs()>df.std(axis=1)*3] = np.nan
df

DATA_DATE,2015-01-01,2015-01-02,2015-01-03,2015-01-04,2015-01-05,2015-01-06,2015-01-07,2015-01-08,2015-01-09,2015-01-10,...,2017-01-29,2017-01-30,2017-01-31,2017-02-01,2017-02-02,2017-02-03,2017-02-04,2017-02-05,2017-02-06,2017-02-07
CONS_NO,,,,,,,,,,,,,,,,,,,,,
1,6.68,2.50,5.20,4.17,4.89,5.26,4.11,3.70,3.74,5.83,...,2.37,3.12,2.02,1.74,2.53,3.18,3.29,2.77,3.81,3.62
2,1.22,0.65,1.14,1.04,1.33,1.02,0.08,0.09,0.09,0.09,...,0.97,0.95,0.93,0.92,0.92,1.99,0.96,1.36,1.33,1.40
3,7.35,6.65,7.76,4.02,4.68,7.06,6.51,7.00,6.53,4.94,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,0.62,1.92,0.65,1.30,0.71,1.36,0.89,1.24,0.75,1.67,...,1.14,1.06,0.96,1.12,0.86,0.76,0.75,1.49,0.86,1.08
5,2.58,2.60,2.36,1.83,2.05,1.97,1.98,1.44,2.02,2.33,...,2.11,2.58,2.22,1.96,1.71,2.23,2.69,2.27,2.52,2.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,1.87,1.29,1.21,1.52,1.52,1.24,1.27,1.87,1.51,1.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
197,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,3.71,0.89,1.84,2.50,2.18,1.32,1.15,1.08,2.26,2.26
198,4.59,4.86,4.49,7.27,6.55,5.02,5.40,4.51,5.05,5.36,...,1.30,1.27,1.25,1.26,1.23,1.22,1.25,1.28,1.25,1.22
199,4.88,3.57,4.72,3.63,3.38,5.10,4.40,3.85,2.51,3.55,...,0.77,0.77,0.77,0.76,0.76,0.76,0.75,0.76,0.75,0.76
200,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [26]:
# (3)计算每个用户用电数据的基本统计量，包括最大值、最小值、均值、中位数、和、方差、偏度、峰值。(不包括空值)
df.agg(['max', 'min', 'mean', 'median', 'sum', 'var', 'skew', 'kurt'], axis=1)

       max  min      mean  median      sum        var      skew      kurt
1    12.61  0.0  3.513940   3.040  2470.30   3.863820  2.166039  5.645158
2     6.71  0.0  1.906392   1.755  1342.10   0.948781  1.627766  4.302264
3    14.78  0.0  3.491978   3.500  2524.70   9.951121  0.397463 -0.786355
4     2.70  0.0  1.101363   0.990   791.88   0.192672  1.080126  1.258425
5    10.19  0.0  2.789294   2.240  1974.82   2.666192  2.271119  4.795565
..     ...  ...       ...     ...      ...        ...       ...       ...
196   3.95  0.0  1.060938   1.150   757.51   0.430798  0.178696  0.971050
197  33.53  0.0  3.080255   0.820  2171.58  38.104203  2.979824  8.890043
198  12.58  0.0  3.327864   3.590  2399.39   3.545360  0.884770  2.136000
199   8.43  0.0  2.780803   2.840  2043.89   3.446216  0.339102 -0.547521
200   0.00  0.0  0.000000   0.000     0.00   0.000000  0.000000  0.000000

[200 rows x 8 columns]

In [39]:
# (4)每个用户用电数据按日差分，并计算差分结果的基本统计量，统计量同上述第3问.

## diff方法为计算差分
df_diff = df.diff(axis=1)
df_diff_max = df_diff.max(axis=1) # 最大值
df_diff_min = df_diff.min(axis=1) # 最小值
df_diff_mean = df_diff.mean(axis=1) # 均值
df_diff_median = df_diff.median(axis=1) # 中位数
df_diff_sum = df_diff.sum(axis=1) # 和
df_diff_var = df_diff.var(axis=1) # 方差
df_diff_skew = df_diff.skew(axis=1) # 偏度
df_diff_kurt = df_diff.kurt(axis=1) # 峰度

## 或者
df.diff(axis=1).agg(['max', 'min', 'mean', 'median', 'sum', 'var', 'skew', 'kurt'], axis=1)

       max    min      mean  median    sum       var      skew       kurt
1     7.72  -7.32 -0.009647    0.01  -6.55  2.098713  0.060635   5.985684
2     3.79  -4.20 -0.005095    0.00  -3.48  0.848938 -0.170676   3.378865
3     8.35  -7.02  0.015246    0.00  10.84  2.608314  0.269372   4.206767
4     1.95  -2.12  0.002769    0.01   1.93  0.264063 -0.062622   1.675621
5     4.74  -6.02  0.010503    0.00   7.31  0.919670 -0.511785   6.819702
..     ...    ...       ...     ...    ...       ...       ...        ...
196   2.40  -2.61 -0.011854    0.00  -8.12  0.257862  0.080865   4.507142
197  19.05 -21.30 -0.017721    0.00 -12.21  9.307786 -0.834205  16.513195
198   8.53  -6.23  0.005231    0.00   3.73  1.373475  0.779428  10.522400
199   5.77  -7.60 -0.003122    0.00  -2.27  0.958619 -0.371807   8.145888
200   0.00   0.00  0.000000    0.00   0.00  0.000000  0.000000   0.000000

[200 rows x 8 columns]

In [29]:
# (5)计算每个用户用电数据的5%分位数.
df_quantile = df.quantile([.05], axis=1)
df_quantile

CONS_NO,1,2,3,4,5,6,7,8,9,10,...,191,192,193,194,195,196,197,198,199,200
0.05,1.621,0.673,0.0,0.579,1.4935,2.1105,0.714,1.1105,0.0,0.0,...,0.06,1.551,0.04,0.0,0.02,0.0,0.0,1.13,0.147,0.0

In [40]:
# (6)对每个用户的用电数据按周求和并差分(一周7天)，计算差分结果的基本统计量，统计量同第3问.
df_week_diff = df.groupby(df.columns.week, axis=1).sum().diff(axis=1)
df_week_diff.agg(['max', 'min', 'mean', 'median', 'sum', 'var', 'skew', 'kurt'], axis=1)

d:\miniconda\envs\AI\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series.  To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)

       max    min      mean  median    sum         var      skew      kurt
1    65.99 -38.69 -0.623269   0.405 -32.41  266.091779  0.906407  5.071225
2    15.83 -33.66 -0.430192   1.135 -22.37   67.351371 -1.447324  4.755757
3    34.12 -35.97 -0.517500  -0.035 -26.91  238.025317 -0.125502  0.141851
4     6.72  -8.15 -0.225769   0.205 -11.74   10.631280 -0.059288 -0.398308
5    43.42 -36.31 -0.496923   0.045 -25.84  145.491186  0.229948  4.411529
..     ...    ...       ...     ...    ...         ...       ...       ...
196  13.01 -15.10 -0.267115  -0.570 -13.89   23.388241 -0.132064  1.537394
197  74.10 -96.99 -0.484423  -1.655 -25.19  866.228519 -0.156118  2.008429
198  28.92 -52.56 -0.971923  -1.020 -50.54  242.876930 -0.668671  1.488689
199  29.21 -26.68 -0.728462  -0.575 -37.88  114.588547  0.081797  0.877937
200   0.00   0.00  0.000000   0.000   0.00    0.000000  0.000000  0.000000

[200 rows x 8 columns]

In [47]:
# (7)每个用户在一段时间内会有用电数据最大值，统计用电数据大于“0.9×最大值”的天数
# df_per10 = pd.Series([(df.iloc[row,:]>(df.max(axis=1)*0.9).iloc[row]).sum() for row in range(df.shape[0])], index=range(1, 201))
# df_per10

# 或者
df_per10 = df.max(axis=1) * 0.9
df[df.sub(df_per10, axis=0)>0].count(axis=1)

CONS_NO
1      8
2      4
3      2
4      8
5      5
      ..
196    2
197    7
198    3
199    5
200    0
Length: 200, dtype: int64

In [ ]:
# (8)获取每个用户用电数据出现最大值和最小值的月份，若最大值(最小值)存在于多个月份中，则输出含有最大值(最小值)最多的那个月份。我们按天统计每个用户的用电数据，假设1号用户用电量的最小值为0(可能是当天外出没有用电)，在一年的12个月，每个月都可能有若干天用电量为0，那儿就输出含有最多用电量为0的天数的所在月份。最大用电量的统计同理。
from collections import Counter
df_month_max = df.max(aixs=1)
df_month_min = df.min(axis=1)

In [ ]:
# (9)以每个用户7月和8月用电数据为同一批统计样本，3月和4月用电数据为另一批统计样本，分别计算这两批样本之间的总体和(sum)之比、均值(mean)之比、最大值(max)之比和最小值(min)之比.

In [ ]:
# (10)将上述统计的所有特征合并在一张表中显示出来.